<div class="container">
  <%= form_tag movies_path, method: :get, class: "mt-4" do %>
    <div class="input-group">
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: 'Search for movies' %>
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert-danger mt-3">
      <p><%= flash[:alert] %></p>
    </div>
  <% end %>

  <% if flash[:notice] %>
    <div class="alert alert-success my-3 d-inline-block">
      <span><%= flash[:notice] %></span>
    </div>
  <% end %>

  <div class="row mt-4">
    <% if @movies.present? %>
      <% @movies.in_groups_of(4, false) do |group| %>
        <div id="movies" class="row">
          <% group.each do |movie| %>
            <div class="col-md-3 mb-4">
              <div class="card movie">
                <% if movie.present? && movie["poster_path"].present? %>
                  <img src="<%= "https://image.tmdb.org/t/p/w300/#{movie["poster_path"]}" %>" class="card-img-top" alt="<%= movie["title"] %> Poster">
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= movie["title"] %></h5>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if @total_pages && @total_pages > 1 %>
    <nav aria-label="Page navigation" class="mt-4">
      <ul class="pagination">
        <% if @current_page > 1 %>
          <li class="page-item">
            <%= link_to "Previous", movies_path(query: params[:query], page: @current_page - 1), class: "page-link" %>
          </li>
        <% end %>

        <li class="page-item disabled">
          <p class="page-link">Page <%= @current_page %> of <%= @total_pages %></p>
        </li>

        <% if @current_page < @total_pages %>
          <li class="page-item">
            <%= link_to "Next", movies_path(query: params[:query], page: @current_page + 1), class: "page-link" %>
          </li>
        <% end %>
      </ul>
    </nav>
  <% end %>
</div>
